#venv
.venv/

# Env variables
.env

#PyCharm
.idea/

#Notes
.notes

#Python cache
__pycache__/
*.py[cod]

#Development follow-up
DEVELOPMENT.md

#Personal Documentation
querys.sql
looqbox_data_challenge_felipe_zanluca.odt
looqbox_data_challenge_felipe_zanluca.pdf